  html, body
  {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 237, 226);
    font-family: sans-serif;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  .footer
  {
    background: #1abc9c;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .presentation
  {
    padding: 35px;
    text-align: center;
    font-size: 15px;
  }

  .mainUl
  {
    margin: 5%;
    margin-top: 0px;
  }

  .base
  {
    display: inline;
    margin: 10px;
  }

  li .container
  {
    display: inline-block;
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 50px;
    text-decoration: none;
    border-style: groove;
    background-color: rgb(248, 246, 242);
    vertical-align: text-top;
    height: 600;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
    object-fit:cover;
  }

  .logo
  {
    position: absolute;
    top: 15;
    left: 10;
    max-width: 400px;
    object-fit: cover;
  }

  h1
  {
    padding-top: 15px;
  }

  h2, h3  
  {
    text-align: center;
  }

  nav
  {
    padding-bottom: 5px;
  }

  .section
  {
    padding: 50px;
  }

  a:link {
    text-decoration: underline;
  }
  a:hover {
      text-decoration: none;
  }
  a
  {
    color: black;
  }

  nav
  {
    height: 45%;
  }