.container {
    display: -webkit-flex;
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
    margin: 15px;
    padding: 15px;
    
  }

  nav {
    width: 350px;
  }
  .flex-column {
    -webkit-flex: 1;
            flex: 1;
            margin: 15px;
    padding: 15px;
  }
  article img {
    float: left;
    width: 100%;
  }
  .clearfix {
    overflow: auto;
  }
  h1
  {
    text-align: center;
  }