  html, body
  {
    margin: 0;
    padding: 0;
    background-color: #f1ede2;
    font-family: sans-serif;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: #8dc542;
    color: white;
    font-size: 30px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background: #8dc542;
    color: #fff;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: #8dc542;
    color: #fff;
  }

  .presentation
  {
    padding: 35px;
    text-align: center;
    font-size: 15px;
  }

  .mainUl
  {
    margin: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .base
  {
    display: inline;
    margin: 10px;
  }

  li .container
  {
    display: inline-block;
    border-radius: 25px;
    width: 300px;
    padding: 2px 15px 20px;
    margin-bottom: 50px;
    text-decoration: none;
    filter :drop-shadow(10px 10px 1px #e3dfd7);
    background-color: #f1ede2;
    vertical-align: text-top;
    height: 600px;
  }

  li .containerJam
  {
    display: inline-block;
    border-radius: 25px;
    width: 350px;
    padding: 5px 10px;
    margin-bottom: 50px;
    text-decoration: none;
    filter :drop-shadow(10px 10px 1px #e3dfd7);
    background-color: #f1ede2;
    vertical-align: text-top;
    height: 750px;
    padding-bottom: 20px;
  }

  figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 25px;
  }
  figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 25px;
  }

  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    object-fit:cover;
    border-radius: 25px;
  }
  figure:hover+span {
    bottom: -36px;
    opacity: 1;
    border-radius: 25px;
  }

  img {
    width: 100%;
    object-fit:cover;
  }

  article
  {
    padding-bottom: 5px;
  }

  .logo
  {
    position: absolute;
    top: 15;
    left: 10;
    max-width: 400px;
    object-fit: cover;
  }

  h1
  {
    padding-top: 15px;
  }

  h2, h3  
  {
    text-align: center;
  }

  nav
  {
    padding-bottom: 5px;
  }

  a:link {
    text-decoration: underline;
  }
  a:hover {
      text-decoration: none;
  }
  a
  {
    color: black;
  }

  nav
  {
    height: 45%;
  }

  